<p id="notice"><%= notice %></p>

<h1>Listing Runs</h1>

<table>
  <thead>
    <tr>
      <th>Miles</th>
      <th>Date run</th>
      <th>Where</th>
      <th>Time run</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs_all.each do |run| %>
      <tr>
        <td><%= run.miles %></td>
        <td><%= run.date_run %></td>
        <td><%= run.where %></td>
        <td><%= run.time_run %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><b><%= @runs_total_miles %></b></td>
      <td></td>
      <td></td>
      <td><b><%= @runs_total_time %></b></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
